@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-tertiary: var(--tertiary);

    --color-midnight: #1b1b1b;
    --color-dark: #26252c;
    --color-light: #fff8e8;
    --color-grapefruit: #ff6347;
    --color-pomegranate: #e03c31;

    --animate-loop-scroll: loop-scroll 40s linear infinite;

    --animate-dialog-overlay: dialog-overlay-show 300ms cubic-bezier(0.16, 1, 0.3, 1);
    --animate-dialog-overlay-out: dialog-overlay-hide 200ms cubic-bezier(0.16, 1, 0.3, 1);

    --animate-dialog-content: dialog-content-show 300ms cubic-bezier(0.16, 1, 0.3, 1);
    --animate-dialog-content-out: dialog-content-hide 200ms cubic-bezier(0.16, 1, 0.3, 1);

    --animate-slide-up-fade: slide-up-fade 400ms cubic-bezier(0.16, 1, 0.3, 1);
    --animate-slide-right-fade: slide-right-fade 400ms cubic-bezier(0.16, 1, 0.3, 1);
    --animate-slide-down-fade: slide-down-fade 400ms cubic-bezier(0.16, 1, 0.3, 1);
    --animate-slide-left-fade: slide-left-fade 400ms cubic-bezier(0.16, 1, 0.3, 1);

    @keyframes loop-scroll {
        0% { transform: translateX(0) }
        100% { transform: translateX(calc(-100% / 3)) }
    }

    @keyframes dialog-overlay-show {
        from { opacity: 0 }
        to { opacity: 1 }
    }

    @keyframes dialog-overlay-hide {
        from { opacity: 1 }
        to { opacity: 0 }
    }

    @keyframes dialog-content-show {
        from {
            opacity: 0;
            transform: scale(0.95);
        }
        to {
            opacity: 1;
            transform: scale(1);
        }
    }

    @keyframes dialog-content-hide {
        from {
            opacity: 1;
            transform: scale(1);
        }
        to {
            opacity: 0;
            transform: scale(0.95);
        }
    }

    @keyframes slide-up-fade {
        from {
            opacity: 0;
            transform: translateY(2px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes slide-right-fade {
        from {
            opacity: 0;
            transform: translateX(-2px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes slide-down-fade {
        from {
            opacity: 0;
            transform: translateY(-2px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes slide-left-fade {
        from {
            opacity: 0;
            transform: translateX(2px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
}

@utility container {
    @apply px-8 sm:px-12 lg:px-16 xl:px-20 2xl:px-32;
    margin: 0 auto;
}

@layer base {
    :root {
        --primary: #656565;
        --secondary: #757575;
        --tertiary: #d1d5db;
    }

    :root.dark {
        color-scheme: dark;

        --primary: #BABABA;
        --secondary: #777777;
        --tertiary: #404040;
    }
}
