@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --primary: 117 117 117;
        --secondary: 117 117 117;
        --tertiary: 209 213 219;
    }

    :root.dark {
        color-scheme: dark;

        --primary: 186 186 186;
        --secondary: 119 119 119;
        --tertiary: 64 64 64;
    }
}
